In [2]:
import pandas as pd

# Decision Status

In [15]:
decision_status_df = pd.read_csv("decision_status.csv", header=None)
decision_status_df.rename(columns={0: "Id", 1: "Name"})[["Id", "Name"]]

   Id                               Name
0   1               Demandes accueillies
1   2                              Rejet
2   3          Ne statue pas sur le fond
3   4  Demande partiellement accueillies

# Jurisdiction

In [18]:
jurisdiction_df = pd.read_csv("jurisdiction.csv")
jurisdiction_df

,Id,Name,Geolocation,Jurisdiction_Url,Scope,5,6
0,1,Comité conventionnel onusien,"Genève, Suisse",NaN,Monde,2023-08-23 12:38:59.295712,2023-08-23 12:38:59.295712
1,2,Tribunal des affaires foncières et environneme...,"Etat de Nouvelle-Galles du Sud, Australie",NaN,NaN,2023-08-23 12:38:59.295712,2023-08-23 12:38:59.295712
2,3,Court fédérale du district d'Alaska,"Alaska, Etats-Unis d'Amérique",https://www.akd.uscourts.gov/,Alaska,2023-08-23 12:38:59.295712,2023-08-23 12:38:59.295712
3,4,Haute Cour,Ouganda,NaN,Ouganda,2023-08-23 12:38:59.295712,2023-08-23 12:38:59.295712
4,5,Tribunal régional supérieur de Hamm,Allemagne,NaN,Allemagne,2023-08-23 12:38:59.295712,2023-08-23 12:38:59.295712
5,6,Tribunal de première instance du district de C...,NaN,NaN,NaN,2023-08-23 12:38:59.295712,2023-08-23 12:38:59.295712
6,7,Cour Suprême,Espagne,NaN,Espagne,2023-08-23 12:38:59.295712,2023-08-23 12:38:59.295712
7,8,Tribunal régional d'Essen,Essen,NaN,NaN,2023-08-23 12:38:59.295712,2023-08-23 12:38:59.295712
8,9,Tribunal judiciaire de Nanterre,Nanterre,NaN,France,2023-08-23 12:38:59.295712,2023-08-23 12:38:59.295712
9,10,Haute Cour,Angleterre,NaN,Angleterre,2023-08-23 12:38:59.295712,2023-08-23 12:38:59.295712
10,11,Cour d’appel,Angleterre et Pays de Galles,NaN,NaN,2023-08-23 12:38:59.295712,2023-08-23 12:38:59.295712
11,12,Cour Suprême,Angleterre,NaN,NaN,2023-08-23 12:38:59.295712,2023-08-23 12:38:59.295712
12,13,Tribunal régional de Varsovie,Pologne,NaN,NaN,2023-08-23 12:38:59.295712,2023-08-23 12:38:59.295712
13,14,Cour d’Appel du 9eme Circuit,Etats-Unis,NaN,NaN,2023-08-23 12:38:59.295712,2023-08-23 12:38:59.295712
14,15,Tribunal Judiciaire de Paris,Paris,NaN,NaN,2023-08-23 12:38:59.295712,2023-08-23 12:38:59.295712
15,16,Conseil constitutionnel,France,NaN,France,2023-08-28 09:46:22.947894,2023-08-28 09:46:22.947894
16,17,Conseil d'état,France,NaN,France,2023-09-01 20:02:56.366615,2023-09-08 07:48:44.416367
17,18,Tribunal Administratif,Montreuil,NaN,Montreuil,2023-09-10 08:55:39.355288,2023-09-10 08:55:39.355288
18,19,Cour administrative d'appel de Bordeaux,"Bordeaux, France",NaN,NaN,2023-10-24 17:20:16.138342,2023-10-24 17:20:16.138342
19,20,Tribunal de l'Union européenne,Luxembourg,https://curia.europa.eu/jcms/jcms/j_6/fr/,Union européenne,2023-12-13 20:13:12.802162,2023-12-13 20:13:12.802162

# Ground Type

In [14]:
ground_type_df = pd.read_csv("ground_type.csv")
ground_type_df

   Ground_Type_Id                      Name
0               1              Public trust
1               2                  Tort law
2               3            Droits humains
3               4  Normes environnementales
4               5               Droit civil

# Ground

In [15]:
ground_df = pd.read_csv("ground.csv", header=None)
ground_df.rename(
    columns={
        0: "Id",
        1: "Name",
        2: "Ground_Type_Id",
    }).merge(ground_type_df, on="Ground_Type_Id").to_csv("grounds.csv")

# Agent Type

In [26]:
agenttype_df = pd.read_csv("agent_type.csv")
agenttype_df

                    Name  AgentTypeId
0             Entreprise            1
1                   Etat            2
2  Organisation publique            3
3            Association            4
4            Particulier            5

# Agent

In [21]:
agent_df = pd.read_csv("agent.csv", header=None)
agent_df.rename(columns={0: "Id", 1: "Name", 2: "AgentUrl", 3: "Description", 4: "AgentTypeId"}).head()

,Id,Name,AgentUrl,Description,AgentTypeId,5,6
0,1,Gloucester Resources Limited,NaN,NaN,1,2023-08-23 12:36:48.489827,2023-08-23 12:36:48.489827
1,2,Scott Gilmore et autres (Hausfeld LLP),NaN,NaN,1,2023-08-23 12:36:48.489827,2023-08-23 12:36:48.489827
2,3,Minister for Planning,NaN,NaN,2,2023-08-23 12:36:48.489827,2023-08-23 12:36:48.489827
3,4,Ramin Pejan et autres (Earthjustice),NaN,NaN,1,2023-08-23 12:36:48.489827,2023-08-23 12:36:48.489827
4,5,Argentine,NaN,NaN,2,2023-08-23 12:36:48.489827,2023-08-23 12:36:48.489827

# Appeal Type

In [74]:
appeal_type_df = pd.read_csv("appeal_type.csv")
appeal_type_df

   AppealTypeId        AppealTypeName
0             1                Climat
1             2         Environnement
2             3  Climat/Environnement
3             4                 Autre

# Case Status

In [75]:
casestatus_df = pd.read_csv("case_status.csv")
casestatus_df

   CaseStatusId CaseStatusName
0             1       En cours
1             2          Finie
2             3       En appel

# Case

In [22]:
case_df = pd.read_csv("case.csv", header=None)
case_df.rename(
    columns={0: "Id", 1: "Title", 2: "FactsDigest", 3: "GoogleDriveFolder", 8: "FactsDate", 4: "CaseStatusId", 5: "AppealTypeId", 9: "Status"}
).merge(casestatus_df, on="CaseStatusId", how="left").merge(appeal_type_df, on="AppealTypeId",how="left").head()

NameError: name 'casestatus_df' is not defined

# Decision Status

In [25]:
decision_status_df = pd.read_csv("decision_status.csv", header=None)
decision_status_df = decision_status_df.rename(
    columns={0: "DecisionStatusId", 1: "StatusName"}
)[["DecisionStatusId", "StatusName"]]
decision_status_df

   DecisionStatusId                         StatusName
0                 1               Demandes accueillies
1                 2                              Rejet
2                 3          Ne statue pas sur le fond
3                 4  Demande partiellement accueillies

# Decision

In [33]:
decision_df = pd.read_csv("decision.csv")
decision_df.rename(columns={"7": "DecisionStatusId"}).merge(decision_status_df, on="DecisionStatusId", how="left").to_csv("decisions.csv")

# Resource Type

In [14]:
resourcetype_df = pd.read_csv("resource_type.csv", header=None)
resourcetype_df = resourcetype_df.rename(columns={0: "Resource_Type_Id", 1: "TypeName"})
resourcetype_df

,Resource_Type_Id,TypeName,2,3
0,1,Décision,2023-08-23 12:36:48.489827,2023-08-23 12:36:48.489827
1,2,Ouvrage/Article,2023-08-23 12:36:48.489827,2023-08-23 12:36:48.489827
2,3,Newsletter,2023-08-23 12:36:48.489827,2023-08-23 12:36:48.489827

# Resource

In [18]:
resource_df = pd.read_csv("resource.csv", header=None)
resource_df.rename(
    columns={0: "Id", 1: "Name", 2: "Url", 3: "Resource_Type_Id"}
).merge(resourcetype_df, on="Resource_Type_Id")[["Name", "Url", "TypeName"]].head()

  Name                                                Url    TypeName
0   12  https://notreaffaireatous.org/numero-12-de-la-...  Newsletter
1   16  https://notreaffaireatous.org/numero-16-de-la-...  Newsletter
2    9  https://notreaffaireatous.org/numero-9-de-la-n...  Newsletter
3    8  https://notreaffaireatous.org/numero-8-de-la-n...  Newsletter
4   14  https://notreaffaireatous.org/numero-14-de-la-...  Newsletter